<%= image_tag asset_path('meyasubako.png'), width: '100%' %>

<div style="width: 500px;">
  <h1 style="color: #6594e0; border-bottom: dashed 2px #6594e0; margin: 20px;">このアプリの概要</h1>
</div>
<div class="row">
  <div class="col-md-12 text-center">
  </div>
    <p style="margin: 20px; font-size: 20px;">このアプリは、日頃の悩みを整理し、人との繋がりで解決するアプリです。<br>”目安箱”というものをご存知でしょうか。昔江戸時代に町民が日頃の不平不満を紙に書き、<br>下の画像のような目安箱という箱に紙を入れ、殿様に伝えていたそうです。
    <div class="d-flex justify-content-center">
  <div class="col-7">
    <%= image_tag asset_path('box.png'), width: '80%' %>
  </div>
</div>
<div style="width: 500px;">
  <h1 style="color: #6594e0; border-bottom: dashed 2px #6594e0; margin: 20px;">このアプリの使い方</h1>
</div>
<div style="margin: 20px;">
  <ul>
    <li style="font-size: 20px;">自分の悩みなどを投稿する。</li>
    <li style="font-size: 20px;">カテゴリー分けや優先順位などで悩みを整理する。</li>
    <li style="font-size: 20px;">気になるキーワードを検索する。</li>
    <li style="font-size: 20px;">キーワード検索からヒットしたユーザーとメッセージのやり取りをする。</li>
    <li style="font-size: 20px;">自分の投稿、メッセージで人との繋がりが増える。</li>
  </ul>
</div>