<h1>通知一覧</h1>
<ul>
  <% @notifications.each do |notification| %>
    <li>
      <%= notification.body %> <!-- 通知内容を表示 -->
      <% if !notification.read %>
        <%= link_to '既読にする', mark_as_read_notification_path(notification), method: :patch %>
      <% end %>
    </li>
  <% end %>
</ul>
