<body>
  <div class="container">
    <h2>メッセージ一覧</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>会話相手</th>
        </tr>
      </thead>
      <tbody>
        <% @conversations.each do |conversation| %>
          <tr>
            <td>
              <% if conversation.target_user(current_user).present? %>
                <%= link_to conversation.target_user(current_user).name, conversation_messages_path(conversation) %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to '一覧画面', posts_path, class: 'btn btn-secondary mt-4' %>
  </div>
</body>
