<!DOCTYPE html>
<html>

<body>
  
  <div class="container text-center">
    <%= image_tag asset_path('meyasubako.png'), class: "img-fluid", alt: "Meyasubako" %>
    <h1 class="mt-4">アプリ概要</h1>
    <hr class="border-primary">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <p class="mt-4" style="font-size: 14px;">
        このアプリは、日頃の悩みを整理し、人との繋がりで解決していくアプリです。<br>
        ”目安箱”というものをご存知でしょうか。昔江戸時代に町民が日頃の不平不満を紙に書き、<br>
        下の画像のような目安箱という箱に紙を入れ、殿様に伝えていたそうです。</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-7">
      <%= link_to new_user_session_path do %>
        <%= image_tag asset_path('box.png'), class: "img-fluid", alt: "目安箱" %>
      <% end %>
      </div>
    </div>

    <h1 class="mt-5">アプリの使い方</h1>
    <hr class="border-primary">
    <div class="mt-4">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">上の目安箱をクリックしてログインする。</li>
        <li class="list-group-item">悩みなどを投稿する。</li>
        <li class="list-group-item">カテゴリー分けや優先順位などで悩みを整理する。</li>
        <li class="list-group-item">解決したい悩みのキーワードを検索する。</li>
        <li class="list-group-item">キーワード検索からヒットしたユーザーとメッセージのやり取りをする。</li>
        <li class="list-group-item">自分の投稿（相手からメッセージが来る）、メッセージ（相手とメッセージする）で人との繋がりが増える。</li>
      </ul>
    </div>
  </div>

  

  <!-- JavaScript libraries (Bootstrap and others) -->
</body>
</html>
