<div class="container mt-4">
  <h2>メッセージ一覧</h2>
  <ul class="list-group">
    <% @users.each do |user| %>
      <% next if user == current_user %>

      <% conversation = current_user.conversations.between(current_user.id, user.id).first %>
      <% next unless conversation.present? && conversation.messages.any? %>

      <li class="list-group-item">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <%= link_to user.name, user, class: 'font-weight-bold' %>
          </div>
          <div>
            <%= link_to 'メッセージ', conversation_messages_path(conversation), method: :get, class: 'btn btn-info btn-sm' %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<div class="container mt-4">
  <%= link_to 'Top', posts_path, class: 'btn btn-secondary' %>
</div>
